<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.search">

    <application>
        <!--<activity android:name=".MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".SearchActivity"
            android:launchMode="singleTop"></activity>
        <activity android:name=".SearchByTypeActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>